<swiper-container id="mySwiper" init="false" class="w-full h-full">
        <swiper-slide><img class="w-full h-full object-cover"
                        src="https://png.pngtree.com/template/20220330/ourlarge/pngtree-orange-simple-and-atmospheric-women-s-clothing-autumn-and-winter-fashion-image_906464.jpg"
                        alt=""></swiper-slide>
        <swiper-slide><img class="w-full h-full object-cover"
                        src="https://png.pngtree.com/template/20220330/ourlarge/pngtree-orange-simple-and-atmospheric-women-s-clothing-autumn-and-winter-fashion-image_906464.jpg"
                        alt=""></swiper-slide>
        <swiper-slide><img class="w-full h-full object-cover"
                        src="https://png.pngtree.com/template/20220330/ourlarge/pngtree-orange-simple-and-atmospheric-women-s-clothing-autumn-and-winter-fashion-image_906464.jpg"
                        alt=""></swiper-slide>
</swiper-container>