<div class="grid grid-cols-1 lg:grid-cols-5 gap-4 p-24">
    <div class="image lg:col-span-2 w-[70%]">
        <img src="https://images-cdn.ubuy.co.id/64dcc2f2e670e74dfa1c147a-for-27-inch-16-9-aspect-ratio-desktop.jpg"
            alt="">
    </div>

    <div class="details lg:col-span-2 space-y-20">
        <div class="info space-y-2">
            <h2 class="font-semibold text-[24px]">title placeholder</h2>
            <p class="font-medium">price</p>
            <h2>About the product</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, necessitatibus!</p>
        </div>

        <div class="buttons space-x-5">
            <button class="bg-blue-500 text-white p-3 rounded-3xl cursor-pointer hover:bg-blue-400">Add to cart</button>
            <button class="bg-blue-200 text-white p-3 rounded-3xl cursor-pointer hover:bg-blue-100">Buy Now!</button>
        </div>

    </div>
</div>