<footer>
    <div
        class="container mb-5 w-[80%] text-gray-700 text-sm bg-blue-100 rounded-3xl mx-auto py-8 border-b border-gray-300 flex flex-wrap justify-center">
        <!-- HELP -->
        <div class="w-1/4">
            <h4 class="font-bold mb-2">HELP</h4>
            <ul class="space-y-1">
                <li><a href="#" class="hover:underline">Contact Us</a></li>
                <li><a href="#" class="hover:underline">Returns and Changes</a></li>
                <li><a href="#" class="hover:underline">Shipping & Delivery</a></li>
                <li><a href="#" class="hover:underline">Order Tracking</a></li>
                <li><a href="#" class="hover:underline">FAQ</a></li>
            </ul>
        </div>

        <!-- ABOUT US -->
        <div class="w-1/4">
            <h4 class="font-bold mb-2">ABOUT US</h4>
            <ul class="space-y-1">
                <li><a href="#" class="hover:underline">About us</a></li>
                <li><a href="#" class="hover:underline">Our Stores</a></li>
                <li><a href="#" class="hover:underline">Corporate</a></li>
                <li><a href="#" class="hover:underline">Career Opportunities</a></li>
                <li><a href="#" class="hover:underline">Corporate Support</a></li>
            </ul>
        </div>

        <!-- POLICIES -->
        <div class="w-1/4">
            <h4 class="font-bold mb-2">POLICIES</h4>
            <ul class="space-y-1">
                <li><a href="#" class="hover:underline">Data Privacy And Security Policy</a></li>
                <li><a href="#" class="hover:underline">Terms Of Use</a></li>
            </ul>
        </div>

    </div>
</footer>