<div class="footer w-full flex place-content-center mb-5">
    <div
        class="h-[20vh] bg-gradient-to-r from-blue-100 to-blue-200 rounded-md text-gray-600 w-[80%] grid grid-cols-12 overflow-hidden">
        <div class="contact col-span-6 flex p-10 space-x-8">
            <div class="help">
                <h2 class="text-lg font-semibold">HELP</h2>
                <div class="links flex flex-col space-y-2">
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                </div>
            </div>
            <div class="help">
                <h2 class="text-lg font-semibold">HELP</h2>
                <div class="links flex flex-col space-y-2">
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                </div>
            </div>
            <div class="help">
                <h2 class="text-lg font-semibold">HELP</h2>
                <div class="links flex flex-col space-y-2">
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                    <a href="">Lorem, ipsum dolor.</a>
                </div>
            </div>

        </div>
    </div>
</div>